.datepickerdropdown {
  background-color: white;
  border: 1px solid #b9b9b9;
  border-radius:5px;
  padding:10px;
  position:absolute;
  text-align:center;
  z-index: 1;
  margin: 0 auto;
  left: 15%;
  right: 15%;
  max-width: 245px;
  box-shadow: 3px 3px 5px #b9b9b9;
  font-size: 12px;
}

.selectDates {
  left: 10% !important;
  right: 10% !important;
}
.datepickerdropdown table {
  border-collapse:collapse;
  margin:auto;
}
.datepickerdropdown input {
  font-family:monospace;
  border:1px solid #b9b9b9;
  border-radius:3px;
  margin:1px;
  padding:2px 5px;
  text-align:center;
}
.datepickerdropdown table input[type=button] {
  width:2em;
  border: 1px solid #b9b9b9;
  color: #454545;
}
.datepickerdropdown input[type=button] {
  background-color: white;
}
.datepickerdropdown input[type=button]:hover {
  background-color: white;
}
.datepickerdropdown input[type=button]:active {
  background-color: white;
  padding:2px 4px 2px 6px;
}      
.datepickerdropdown input.selected {
  background-color: white;
}
.datepickerdropdown input[type=text] {
  background:#fff;
  color:#454545;
}
.datepickerdropdown input[type=button].today {
  border: 1px solid #3FA4AD
}
/* .datepickerdropdown input.othermonth {
  color: #b9b9b9;
  border: 1px solid #ddd;
} */
.datepickershow img {
  border:0;
}
